<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container"></div>
    <div class="page-header">
      <h1>Streaming Dashboard</h1>
    </div>
    <div class="row"></div>
    <div class="col-lg-3"></div>
    <div id="#{id-metric" class="panel panel-default"></div>
    <div class="panel-heading">
      <h3 class="panel-title">Data Stream Viewer</h3>
    </div>
    <div class="panel-body metric"></div>
    <h1 data-field="first">TBD</h1>
    <div class="panel-footer">Data Values</div>
    <!--h1= title-->
    <!--p Welcome to #{title}-->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- bind the data field defined in mixin-->
    <script src="/javascripts/dashboard1.js"></script>
    <!--script(src='/javascripts/streamEmitter.js')	-->
  </body>
</html>